---
layout: default
title: Home
---

<img src="/public/DSC_0367_resized.jpg" alt="color photo ftl" width="50%" height="auto" />

<p>
  Welcome to my personal space, in which I will share all the research related stuff I do, as well as my science communication activities.   
</p>

<p> 
  My work focuses on applying image analysis and other computational techniques to help biologists understand in a quantitative way what is going on within their experiments with cells.
  I do this work at KU Leuven, in Belgium, in the lab of <a target="_blank" href="https://www.mech.kuleuven.be/en/bme/research/mechbio">Mechanobiology and Tissue Engineering.</a>
  and  More info. Link to group webpage <a target="_blank" href="https://www.mech.kuleuven.be/en/bme/research/mechbio">MAtrix</a>
</p>


<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
