---
layout: default
title: Home
---

<img src="/public/DSC_0367_resized.jpg" alt="color photo ftl" width="50%" height="auto" />

<p>
  Welcome to my personal space, in which I share all the research-related stuff I do, as well as my science communication activities.   
</p>

<p> 
  My work focuses on applying image analysis and other computational techniques to help biologists understand in a quantitative way what is going on within their in vitro experiments with cells.
</p>

<p>
  Currently, I am based at the <a target="_blank" href="https://www.mech.kuleuven.be/en/bme/research/mechbio">Mechanobiology and Tissue Engineering Lab</a> at <a target="_blank" href="https://www.kuleuven.be/kuleuven">KU Leuven</a>, Belgium.
  Here, our primary focus lies in exploring the biomechanics underlying blood vessel growth, particularly within the context of vascular diseases.
</p>

<p>Beyond my professional pursuits, I am deeply passionate about science communication. I frequently share insights into my work and that of my peers on Twitter. Additionally, I serve as the Head of the Science Communication Committee at the <a target="_blank" href="https://cebebelgica.es/en_GB/">Spanish Scientists in Belgium association</a>. In this role, I organize various science communication events in both Spanish and English, and contribute to the science segment of a local radio program, Radioalma.</p>
<p>Moreover, I am actively involved in the Science Communication Committee of the <a target="_blank" href="https://esbiomech.org/welcome-to-the-european-society-of-biomechanics-esbiomech/esb-committees/">European Society of Biomechanics (ESB)</a>. Here, I lead journal clubs and contribute to the organization of annual conferences.</p>
<p>If you share an interest in data analysis within in vitro systems or are curious about science communication, I invite you to explore my website further.
  Welcome!</p>

<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
