---
layout: default
title: Home
---

<img src="/public/DSC_0367_resized.jpg" alt="color photo ftl" width="50%" height="auto" />

<p>
  Welcome to my personal space, in which I share all the research-related stuff I do, as well as my science communication activities.   
</p>

<p> 
  My work focuses on applying image analysis and other computational techniques to help biologists understand in a quantitative way what is going on within their experiments with cells.
</p>

<p>
 I do this work in the lab of <a target="_blank" href="https://www.mech.kuleuven.be/en/bme/research/mechbio">Mechanobiology and Tissue Engineering</a> at <a target="_blank" href="https://www.kuleuven.be/kuleuven">KU Leuven</a>, in Belgium.
  Here we mainly focus on studying the biomechanics that take place during blood vessel growth, particlularly in the context of vascular diseases. 
</p>

<p>
  My passion about science goes beyond what I do at work, which made me dive into the world of science communication. I regularly share my work and that of other colleagues that I find interesting on Twitter. 
  Moreover, I am the Head of the Science Communication Committee of the <a target="_blank" href="https://cebebelgica.es/en_GB/">Spanish Scientists in Belgium association</a>. Here I organize several science communication events in Spanish and in English as well as collaborate in the science section of a radio program of the local radio station Radioalma. 
  Finally, I am also part of the Science Communication Committee of the <a target="_blank" href=" https://esbiomech.org/welcome-to-the-european-society-of-biomechanics-esbiomech/esb-committees/"> European Society of Biomechanics (ESB)</a>. Here, I organize journal clubs, and help in the organization of the anual conferences.
</p>

<p>
  If you are interested in 
</p>


<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
